* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #7847ad;
  color: #212121;
  line-height: 1.5;
  height: 100vh;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
  border-radius: 10px;
  border-style: none;
  box-shadow: #212121;
}

.container {
  padding: 20px;
}

.country-list,
.description {
  list-style: none;
  margin: 0;
  padding: 0;
}

.country {
  margin: 0 0 20px 0;
  display: flex;
  gap: 20px;
  align-items: center;
}

.country-flags {
  border-radius: 6px;
  width: 50px;
  height: 100%;
}

.country__flags {
  border-radius: 6px;
  width: 70px;
  height: 100%;
}

.description > li {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 10px;
}

.country__name {
  margin: 0;
  text-transform: uppercase;
  font-size: xx-large;
  font-weight: bolder;
}

.style {
  padding: 20px 20px 12px 20px;
  margin-bottom: 8px;
  width: fit-content;
  border-radius: 20px;
}

.description__info {
  font-weight: bold;
  margin: 0;
}

.country__item {
  padding: 6px 12px;
  margin-bottom: 8px;
  width: fit-content;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 10px;
}

.country-name {
  font-weight: bolder;
  margin: 0;
}
